@model AcunMedyaPortfolioProject.Models.About
<div class="row about-info wide" data-animate-block>

    <div class="column lg-6 md-12 about-info__pic-block">
        <img src="~/sidebar-01/images/WhatsApp Görsel 2025-01-13 saat 18.56.50_7a6b7282.jpg"
             alt="" class="about-info__pic" data-animate-el>
    </div>

    <div class="column lg-6 md-12">
        <div class="about-info__text" style="margin-left:200px">
            <!-- Metni sağa kaydırmak için padding ekledik -->

            <h2 class="text-pretitle with-line" data-animate-el>
                Bilgisayar Mühendisliği Öğrencisi
            </h2>
            <p>Merhaba</p>
            <p>Ben Enis Buğra Akada</p>
            <p>Üçüncü sınıf bilgisayar mühendisliği öğrencisiyim ve yazılım geliştirme, web teknolojileri,</p>
            <p>algoritmalar üzerine yoğunlaşıyorum.</p>
            <p>Problem çözmeyi ve yeni teknolojiler öğrenmeyi çok seviyorum.</p>

            <a href="/sidebar-01/Cv/CV.pdf" download="EnisBugraAkada_CV.pdf">
                <!-- CV İndir Butonu -->
                <button class="button button--primary" data-animate-el>
                    CV'yi İndir
                </button>
            </a>
        </div>
    </div>
</div> <!-- about-info -->
